.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-color: black;
  border-style: double;
  max-width: 360px;
}

.contactContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.techstack {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
